transformers>=4.40.0
peft>=0.10.0
accelerate>=0.30.0
datasets>=2.18.0
evaluate>=0.4.0
torch>=2.5.0
spconv-cu124
torch-scatter
flash-attn
open3d>=0.16.0
numpy==1.26.4
scipy
addict
timm
huggingface-hub
gradio>=4.0.0
nltk
pycocoevalcap
natsort
opencv-python
trimesh
camtools
